
	<header class="header header-waterfall" style="background-color: black !important; color: white !important;">
		<ul class="nav nav-list pull-left">
			<li><a data-toggle="menu" href="#doc_menu"> <span
					class="icon icon-lg">menu</span>
			</a></li>
		</ul>
		<ul class="nav nav-list pull-right">
			<li>
				<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form></li>
		</ul>
		<img src="/images/axiomatics_logo_white.svg"
			alt="Axiomatics, the leader in fine-grained authorization"
			width="200" align="left" /> <a
			class="header-logo header-affix-hide margin-left-no margin-right-no"
			data-offset-top="213" data-spy="affix" href="index.html">
			&middot; YAP &middot; Communicating with the PDP &amp; Demonstrating ABAC  </a> <span
			class="header-logo header-affix margin-left-no margin-right-no"
			data-offset-top="213" data-spy="affix"> &middot; YAP &middot;
			Communicating with the PDP &amp; Demonstrating ABAC</span>
	</header>
